DATABASE_URL=
SESSION_SECRET=
NEXT_PUBLIC_APP_NAME="Next Slide"
NEXT_PUBLIC_APP_URL=
NEXT_SLIDE_PROXY_ALLOWED_HOSTS=

NEXT_SLIDE_ALLOW_HTTP_LINKS=false
NEXT_SLIDE_PLATFORM_OWNER_EMAILS=santos.bruno@engenixsystem.com.br,evoxagengy@gmail.com
